@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #beafde;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 36px;
  color: #362525;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #4d3434;
  border-radius: 4px;
  width: 300px;
}

.category-filter {
  margin-bottom: 20px;
}

.category-filter button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #ded826;
  border: 1px solid #db7f7f;
  border-radius: 4px;
  cursor: pointer;
}

.category-filter button.active {
  background-color: #436386 !important;
  color: #fff;
}

.article-card {
  background-color: hsl(128, 71%, 34%);
  border: 1px solid #35b338;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.article-card img {
  max-width: 200px;
  max-height: 120px;
  object-fit: cover;
  margin-right: 20px;
}

.article-card h3 {
  margin-top: 0;
  font-size: 18px;
}

.article-card p {
  margin-bottom: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}

.favorites {
  margin-top: 40px;
}

.favorites h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.detail h1{
  font-size: 60px;
  color: #362525;
  margin: 20px 0 20px 20px;
}
.detail img{
  width: 60%;
  height: 50%;
  padding: 20px 0 20px 20px;
}
.detail p{
  font-size: 30px;
  color: #362525;
  padding: 20px;


}
.read{
  font-size: 20px;
}
